* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter'; 
}

body {
  height: 100vh;
}

header {
  background-image: url(../bk/Rectangle\ 22Ñ….png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 295px;
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { 
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #CFF4FC;
  text-align: center;
  margin-bottom: 4px;
}

header > p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #CFF4FC;
  text-align: center;
  margin-bottom: 68px;
}

input {
  height: 64px;
  width: 820px;
  display: flex;
  justify-content: center;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding: 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #ABB5BE;
  margin-bottom: 48px;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

main {
  background: #EDEEF3;
}

.container {
  width: 986px;
  padding: 80px 0 49px;
  margin: 0 auto;
  height: 100vh;
  
}

.emoji_card {
  height: 184px;
  width: 316px;
  background: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 24px;
}

.emoji {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 18px;
}

.emoji_name {
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-decoration: underline;
  color: #000000;
  margin-bottom: 12px;
}

.emoji_keyworsds {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #3F444A
}

footer {
  background: #EDEEF3;
  padding-bottom: 17px;
  color: #6C757D;
  text-align: center;
}


.copyright:before {
  content: "";
  display: block;
  height: 1px;
  width: 986px;
  background-color: #CED4DA;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}

