* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter'; 
}


header {
  background-image: url(../bk/Rectangle\ 22х.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 295px;
  padding-top: 68px;
}

h1 { 
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #CFF4FC;
  text-align: center;
  margin-bottom: 4px;
}

header > p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #CFF4FC;
  text-align: center;
}
